body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:link {
    color: inherit;
    text-decoration: none;
}

.Only-list {
    display: flex;
    gap: 15px;
    list-style: none;
    color: white;
}

.header.logo {
    color: white;
    font-weight: 600;
}
