body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a:link {
    color: inherit;
    text-decoration: none;
}

.Only-list {
    display: flex;
    gap: 15px;
    list-style: none;
    color: white;
}

.header.logo {
    color: white;
    font-weight: 600;
}

.First-part {
    display: flex;
    background-color: #1F2937;
    color: white;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 0;
    padding: 50px;
}

.left-text,
.right-text {
    flex-basis: 25%;
}

.text.big {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0%;
}

.text.little {
    font-size: 18px;
    text-wrap: wrap;
    margin-bottom: 0%;
}

.right-text {
    background-color: rgb(141, 142, 143);
    text-align: center;
    padding: 50px;
}

.button-text {
    background-color: rgb(62, 157, 194);
    padding: 10px;
    display: inline-flex;
    border-radius: 10%;
}

.SP-text {
    font-size: 36px;
    text-align: center;
    padding: 50px;
}

.pics-and-texts {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.pics,
.pic-text {
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
}

.pic-show {
    border-color: rgb(68, 97, 177);
    border-width: 7 px;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

.pic {
    width: 107px;
    height: auto;
    text-align: center;
}

.Third-part {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding: 50px;
    justify-content: center;
    background-color: rgb(209, 208, 208);
}

.quote {
    text-wrap: pretty;
    text-align: left;
    width: 500px;
}

.citation {
    text-align: right;
    font-size: small;
    width: 500px;
}

.Fourth-part {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #556e92;
    width: 500px;
    height: 100px;
    margin: auto;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 2ch;
    color: azure;
}

.Inside-banner {
    font-size: 10px;
}

.bigger-text-banner {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.last-button {
    border-color: whitesmoke;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
    padding: 10px;
}

.footer {
    background-color: #1F2937;
}
.footer p {
    text-align: center;
    margin: auto;
    color: whitesmoke;
    padding: 10px;
}